.card-button {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.read-more {
  background-color: #4444f4;
  margin-bottom: 10px;
}
.add-cart {
  background-color: #78cb61;
}
.remove-cart {
  background-color: #d04c1d;
}
.disabled {
  background-color: gray;
}
.logout-button {
  background-color: rgb(208, 76, 29);
  box-shadow: none;
  border-radius: 5px;
  padding: 0px 10px;
}
