.cart-img {
  width: 100px;
}
.center {
  align-self: center;
}
.cart-item {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-around;
}
.cart-item-flex {
  display: flex;
}
