.order {
  background-color: rgb(195, 195, 195);
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto";
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.checkout-form {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.checkout-form input {
  display: block;
  padding: 5px;
  margin: 10px auto;
}
.checkout-form-user {
  margin-bottom: 30px;
}
.checkout-form-card {
  margin-bottom: 30px;
}
.form-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
