* {
  padding: 0px;
  margin: 0px;
}

nav ul {
  border-bottom: 2px dotted black;
  display: flex;
}
ul li {
  margin-right: 25px;
}
.carousel {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
}
