* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
nav ul {
  border-bottom: 2px dotted black;
  display: flex;
}
ul li {
  margin-right: 25px;
}
.carousel {
  width: 80%;
  margin: 0 auto;
}
h3 {
  font-family: "Roboto", sans-serif;
}
h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.filter-handle {
  display: block;
  padding: 5px 10px;
  margin: 30px auto 0px auto;
  font-family: "Roboto", sans-serif;
}
