.navigation {
  background-color: rgb(68, 68, 244);
}
.nav-link {
  margin-right: 10px;
  background-color: #78cb61;
  border-radius: 5px;
  padding: 5px 10px;
}
.navbar-brand {
  font-family: "Press Start 2P", cursive;
}
