.navigation {
  background-color: rgb(68, 68, 244);
}
.nav-link {
  color: white;
}
.navbar-brand {
  font-family: "Press Start 2P", cursive;
}
.logout-button {
  background-color: rgb(208, 76, 29);
  box-shadow: none;
  border-radius: 5px;
}
